/* ============================================================ 
    1. GENERAL
=============================================================*/
*,
*:after,
*:before {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	text-rendering:optimizeLegibility;
	outline: 0;
	&:focus {
		outline: 0;
	}
}
*:after,
*:before {
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;  
}
::-moz-selection {
	color: @white;
}
::selection {
	color: @white;
}
.clear:before,
.clear:after {
	content:' ';
	display:table;
}
.clear:after {
	clear:both;
}
.clear {
	*zoom:1;
}
.clear {
	content: '';
	display: table;
	clear: both;
}
.clear-after {
	&:after {
		&:extend(.clear);
	}
}
.clear-before {
	&:before {
		&:extend(.clear);
	}
}
.transition {
	.transition();
}
.wp-caption {
	max-width: 100%;
}
.wp-caption-text {
	font-size: 13px;
	color: @grey;
}
.alignleft {
	float: left;
	margin: 10px 30px 10px 0;
	clear: left;
}
.alignright {
	float: right;
	margin: 10px 0 10px 30px;
	clear: right;
}
.aligncenter {
	text-align: center;
	margin: 0 auto;
}
.text-right {
	text-align: right;
}
.text-intro {
	font-size:3.625rem;
	margin-top: 0;
	font-weight: 300;
}
.bypostauthor {
	font-weight:normal;
}
.sub-menu {
	li {
		a:empty {
			&:after {
				display: none;
			}
		} 
	}
}
b, strong {
	font-weight: bold;
}
.text-shadow {
	text-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.large-text {
	font-size: 1rem;
	line-height: 1.625;
}
.gr-btn {
	a {
		margin: 0 10px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
.wrap {
	margin: 0 auto;
	position: relative;
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}
html {
	overflow-x: hidden;
	* {
		-webkit-font-smoothing: unset !important;
		-moz-osx-font-smoothing: unset !important;
	}
}
body {
	overflow-x: hidden;
	i.fa {
		font-size: 14px;
		&.fa-2x {
			font-size: 28px;
		}
		&.fa-3x {
			font-size: 42px;
		}
		&.fa-4x {
			font-size: 56px;
		}
		&.fa-5x {
			font-size: 70px;
		}
	}
	i[class*="ion-"] {
		font-size: 16px;
		&.size-18 {
			font-size: 18px;
		}
		&.size-21 {
			font-size: 21px;
		}
		&.size-24 {
			font-size: 24px;
		}
		&.size-32 {
			font-size: 32px;
		}
		&.size-36 {
			font-size: 36px;
		}
		&.size-42 {
			font-size: 42px;
		}
		&.size-48 {
			font-size: 48px;
		}
		&.size-64 {
			font-size: 64px;
		}
		&.size-96 {
			font-size: 96px;
		}
	}
	&:not(.is-loaded) {
		&:after,&:before {
			content:"";
			position: fixed;
			visibility: visible;
			.opacity(1);
		}
	}
	&.is-loaded {
		&:after,&:before {
			content:"";
			position: fixed;
			visibility: hidden;
			.opacity(0);
			&:extend(.transition);
		}
	}
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999999;
		background: @white;
	}
	&:after {
		left: 50%;
		top: 50%;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: red;
		z-index: 9999999;
		margin-left: -25px;
		margin-top: -25px;
		animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}
}
a {
	text-decoration: none;
	&:extend(.transition);
	&[rel="wp-video-lightbox"] {
		position: relative;
		display: inline-block;
		.box-shadow(0 30px 70px -30px rgba(0, 0, 0, 0.3));
		&:after {
			font-family: "FontAwesome";
			content: "\f04b";
			font-size: 42px;
			line-height:1;
			font-weight: normal;
			color: @white;
			text-shadow: 0 1px 3px rgba(0,0,0,0.2);
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;
			&:extend(.transition);
			-webkit-transform: translateX(-50%) translateY(-50%);
			        transform: translateX(-50%) translateY(-50%);
		}
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 128px;
			height: 86px;
			z-index: 1;
			background: @dark;
			.opacity(0.9);
			&:extend(.transition);
			-webkit-transform: translateX(-50%) translateY(-50%);
			        transform: translateX(-50%) translateY(-50%);
		}
		&:hover {
			-webkit-transform: translateY(-10px);
			        transform: translateY(-10px);
			&:before {
				.opacity(1);
				-webkit-transform: translateX(-50%) translateY(-50%) scale(1.1);
						transform: translateX(-50%) translateY(-50%) scale(1.1);
			}
		}
	}
	&.link {
		position: relative;
		&:after {
			content: "";
			left: 0;
			width: 100%;
			bottom: -3px;
			position: absolute;
			border-top: 1px solid;
			&:extend(.transition);
		}
		&:hover {
			&:after {
				width: 0;
				right: 0;
				left: auto;
			}
		}
	}
	&.hot {
		position: relative;
		font-weight: bold;
		display: block;
		padding: 15px 0;
		&:hover {
			span {
				.opacity(1);
				
				&.bottom {
					
				}
			}
		}
		span {
			width: 2px;
			height: 12px;
			position: absolute;
			left: 50%;
			margin-left: -1px;
			top: 0;
			background: @white;
			.rounded(10px);
			.opacity(0.5);
			&:extend(.transition);
			&:after,&:before {
				content: "";
				position: absolute;
				left: -10px;
				bottom: -2px;
				width: 2.5px;
				height: 8px;
				background: @white;
				.rounded(10px);
				-webkit-transform: rotate(-30deg);
						transform: rotate(-30deg);
			}
			&:after {
				left: auto;
				right: -10px;
				-webkit-transform: rotate(30deg);
						transform: rotate(30deg);
			}
			&.bottom {
				top: auto;
				bottom: 0;
				&:after,&:before {
					bottom: auto;
					top: -2px;
					-webkit-transform: rotate(-30deg);
							transform: rotate(-30deg);
				}
				&:before {
					-webkit-transform: rotate(30deg);
							transform: rotate(30deg);
				}
			}
		}
	}
	&.dot {
		border-bottom: 1px dotted rgba(0,0,0,.5);
	}
}
.button-video {
	a[rel="wp-video-lightbox"] {
		text-indent: -9999px;
		width: 64px;
		height: 64px;
		display: inline-block;
		background: @white;
		.rounded(100%);
		-webkit-animation: button-video 3s infinite;
			    animation: button-video 3s infinite;
		&:after {
			text-indent: 0;
			text-shadow: none;
			color: @dark;
			font-size: 18px;
		}
		&:before {
			display: block;
			width: 0;
			height: 0;
			background: rgba(255, 255, 255, 0.2);
			.rounded(100%);
			.opacity(0);
		}
		&:hover {
			&:before {
				-webkit-animation: circle .75s;
				        animation: circle .75s;
			}
		}
	}
}
p {
	margin-top: 0;
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	margin-bottom: 20px;
	margin-top: 40px;
	&.no-margin-top {
		margin-top: 0;
	}
	&.no-margin-bottom {
		margin-bottom: 0;
	}	
	a {
		color: inherit;
	}
	&.style1 {
		text-transform: uppercase;
		letter-spacing: 4px;
	}
	&.style2 {

	}
	&.cd-headline {
		&.slide,&.clip,&.zoom,&.push,&.loading-bar,&.scale,&.type,&.rotate-1,&.rotate-2,&.rotate-3 {
			margin: 0;
			font-weight: bold;
			span {
				padding: 0;
				display: inline;
			}
			.cd-words-wrapper {
				padding: 0;
				b {
					font-weight: bold;
				}
			}
		}
	}
}
img {
	border: medium none;
    height: auto;
    max-width: 100%;
    vertical-align: top;
    &.rounded {
    	.rounded;
    }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #627792;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #627792;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #627792;
}
:-moz-placeholder { /* Firefox 18- */
	color: #627792;
}
textarea {
	line-height: inherit;
	padding-top: 15px;
	padding-bottom: 15px;
} 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"],
input.input-text {
	position: relative;
	max-width: 100%;
	line-height: inherit;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box; 
	.box-shadow(none); 
	&:disabled {
		cursor: no-drop;
	}
	&:focus {
		//background: transparent;
	}
}
input[type="checkbox"] {
	height: auto;
	line-height: inherit;
}
input[type="email"], body select {
	//color: inherit;
}
textarea {
	line-height: 1.6em !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
body select {
	outline:0;
	max-width: 100%;
    background-image: url(../../assets/img/arrow.svg);
    background-position: 94% center;
    background-size: 10px;
    background-repeat: no-repeat;
    position: relative;
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer;
    line-height: inherit;
    -webkit-appearance: none;
       -moz-appearance: none;
    -webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;    
}
body select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 @dark;
}
input[type="submit"], button[type="submit"],.button {
	background-image: none;
	cursor: pointer;
	white-space: nowrap;
	line-height: 100%;
	display: inline-block;
	position: relative;
	z-index: 1;
	&:extend(.transition);
	&:hover {
		color: @white;
	}
	&:disabled {
		background: @grey !important;
		color: darken(@grey, 20%) !important;
		cursor: no-drop;
		.box-shadow(none);
	}
	&.small {
		height: 40px;
		line-height: 40px;
		padding-left: 25px;
		padding-right: 25px;
		font-size: 90%;
		&.outline {
			border-width: 1px;
			line-height: 40px;
		}
	}
	&.large {
		height: 64px;
		line-height: 64px;
		font-size: 18px;
	}
	&.white {
		background: @white;
		&:hover {
			color: @white;
		}
	}
	&.dark {
		background: @dark;
		color: @white;
		&:hover {
			color: @white;
		}
	}
	&.black {
		background: @black;
		color: @white;
		&:hover {
			color: @white;
		}
	}
	&.red {
		background: @red;
		color: @white;
		&:hover {
			color: @white;
		}
	}
	&.blue {
		background: @blue;
		color: @white;
		&:hover {
			color: @white;
		}
	}
	&.green {
		background: @green;
		color: @white;
		&:hover {
			color: @white;
		}
	}
	&.light {
		background: @light;
	}
	&.orange {
		background: @orange;
		color: @white;
	}
	&.yellow {
		background: @yellow;
		color: @dark;
		&:hover {
			color: @white;
		}
	}
	&.primary,&.accent {
		color: @white;
		&:hover {
			color: @white;
		}
	}
	&.outline {
		border: 3px solid;
		background: transparent;
		line-height: 50px;
		color: @white;
		.box-shadow(none);
	}
	&.download {
		padding: 0;
		text-align: center;
		display: block;
		span {
			.opacity(0.3);
		}
		&:hover {
			color: @white;
		}
	}
	&.square {
		.rounded(0);
	}
	&.round {
		.rounded(100px);
	}
	&.no-border {
		border-color:transparent;
	}
	&.no-bg {
		overflow: visible;
		background: transparent;
		height:auto;
		line-height: 1;
		padding: 10px 18px 8px 0;
		border: none;
		.box-shadow(none);
		.rounded(0);
		&:before {
			content: "\f10b";
			font-family: "Ionicons";
			font-size: 16px;
			font-weight: normal;
			text-indent: 0;
			position: absolute;
			top: 50%;
			right: 0;
			&:extend(.transition);
			-webkit-transform: translateY(-50%);
                	transform: translateY(-50%);
		}
		&:hover {
			color: @white;
		}
		&:after {
			left: -10px;
			right: -10px;
		}
	}
	&.line {
		line-height: inherit;
		padding: 15px 50px 10px 0;
		height: auto;
		border: none;
		background: transparent;
		color: @white;
		text-transform: uppercase;
		letter-spacing: 1px;
		.box-shadow(none);
		.rounded(0);
		&:after,&:before {
			content: "\f3d6";
			font-family: "Ionicons";
			font-size: 48px;
			font-weight: normal;
			text-indent: 0;
			position: absolute;
			top: 50%;
			right: 0;
			left: auto;
			background: none;
			&:extend(.transition);
			-webkit-transform: translateY(-50%);
                	transform: translateY(-50%);
		}
		&:before {
			left: -50px;
			right: auto;
		}
		&:hover {
			padding: 15px 0 10px 50px;
			&:after {
				left: auto;
				right: -50px;
				-webkit-transform: translateY(-50%);
                		transform: translateY(-50%);
			}
			&:before {
				left: 0;
			}
		}
	}
	&.transparent {
		background: transparent;
	}
	&.full {
		display: block;
		text-align: center;
	}
	i {
		margin-right: 15px;
		position: relative;
		top: -1px;
		vertical-align: middle;
		display: inline-block;
		-webkit-animation-name: tada;
			    animation-name: tada;
		-webkit-animation-duration: 1s;
				animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            &:extend(.transition);
	}
	&:hover {
		i {
			-webkit-animation-iteration-count: infinite;
					animation-iteration-count: infinite;	
		}
	}
}
.button {
	overflow: hidden;
	.box-shadow(0 1px 2px rgba(0,0,0,.06));
	&:after {
		content:"";
		position:absolute;
		top:0;
		left:0;
		right:-2px;
		bottom:0;
		z-index:-1;
		background: @dark;
		-webkit-transform:scaleY(0);
				transform:scaleY(0);
		-webkit-transform-origin:50% 100%;
				transform-origin:50% 100%;
		transition:-webkit-transform .3s ease-out;
		transition:        transform .3s ease-out;
		transition:        transform .3s ease-out,-webkit-transform .3s ease-out;
	}
	&:hover {
		color: @white;
		&:after {
			-webkit-transform: scaleY(1);
					transform: scaleY(1);
			transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
		}
	}
}
code {
	padding: 2px 15px;
	border: 1px solid rgba(0,0,0,0.1);
	display: inline-block;
	margin: 10px 0;
	font-size: 14px;
}
blockquote {
	margin: 50px 0;
	position: relative;
	padding: 4% 6%;
	border-left: 5px solid;
	background: @white;
	.box-shadow;
	.rounded;
}
cite {
	display: block;
	margin: 10px 0 0 0;
	font-size: 14px;
	font-style: normal;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    thead {
    	th {
    		padding: 12px 25px;
    		font-weight: normal;
    		text-align: left;
    	}
    }
    tbody {
    	tr {
    		background: @light;
    		&:nth-child(2n) {
    			background: @white;
    		}
    		td,th {
    			padding: 18px 40px;
    			font-weight: normal;
    			text-align: left;
    		}
    		th {
    			
    		}
    	}
    }
    tfoot {
    	tr {
    		th,td {
    			padding: 10px;
    			border-top: 1px solid rgba(0,0,0,0.1);
    		}
    	}
    }
    &.style1 {
    	margin-bottom: 20px;
    	&:last-child {
    		margin-bottom: 0;
    	}
		tbody {
			tr {
				background: transparent;
				td {
					padding: 5px 15px 5px 0;
					&:first-child {
						color: darken(@grey,10%);
					}
				}
			}
		}
    }
}
dl {
	dd {
		margin: 0 0 20px 0;
	}
}
pre {
	background: @dark;
	padding: 20px;
	color: #919e6b;
	font-size: 14px;
	overflow: auto;
	.rounded;
	h1,h2,h3,h4,h5,h6 {
		color: @white;
		margin-top: 0;
	}
}
figure {
	margin: 1em 0;
	&.download {
		border: 1px solid rgba(0,0,0,.1);
		padding: 10px 10px 0 10px;
		text-align: center;
		width: 30% !important;
		.rounded(3px);
	}
}
figcaption {
	margin: 10px 0;
}
article {
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}
span {
	&.highlight {
		position: relative;
		z-index:1;
		padding: 5px 15px;
		margin-right: 5px;
		.rounded(20px);
		i {
			margin: 0 7px 0 0;
		}
	}
}

/* ============================================================ 
    2. LAYOUT
=============================================================*/
.layout-wide,.layout-frame {
	.site {
		&.wrap {
			width: 100%;
			max-width: 100%;
		}
	}
}
.layout-boxed {
	.site {
		overflow: hidden;
		.site-content {
			background: @white;
		}
	}
}
.layout-frame {
	padding: 15px;
	.header-position-left {
		.site-header {
			&.site-header-classic {
				left: 15px;
				top: 15px;
			}
		}
	}
	#frame {
		span {
			position: fixed;
			left: 0;
			width: 15px;
			top: 0;
			bottom: 0;
			z-index: 9999;
			&.frame_right {
				left: auto;
				right: 0;
			}
			&.frame_top {
				width: 100%;
				height: 15px;
			}
			&.frame_bottom {
				width: 100%;
				height: 15px;
				top: auto;
				bottom: 0;
			}
		}
	}
	&.admin-bar {
		#frame {
			.frame_left,.frame_right,.frame_top {
				top: 32px;
			}
		}
		.site-header-sticky {
			top: 47px;
		}
		#off-canvas-left {
			top: 47px;
		}
		.sliding-menu {
			top: 47px;
		}
		.header-position-left,.header-position-right {
			.site-header {
				top: 47px;
			}
		}
		&.sliding-overlay {
			.sliding-menu {
				.off-canvas-toggle {
					top: 47px;
				}
			}	
		}
	}
	.sliding-menu {
		bottom: 15px;
		right: 15px;
		top: 15px;
	}
	&.sliding-overlay {
		.sliding-menu {
			left: 15px;
			.off-canvas-toggle {
				top: 15px;
			}
		}
	}
	#off-canvas-left {
		bottom: 15px;
		left: 15px;
		top: 15px;
	}
	.site-header-sticky {
		top: 15px;
		left: 15px;
		right: 15px;
		&.wrap {
			width: auto;
		}
	}
	.header-position-bottom {
		.site-header {
			bottom: 15px;
			left: 15px;
			right: 15px;
		}
	}
	.header-position-left {
		.site-header {
			left: 15px;
			top: 15px;
			bottom: 15px;
		}
	}
	.header-position-right {
		.site-header {
			right: 15px;
			top: 15px;
			bottom: 15px;
		}
	}
}
/*.sidebar-right,.sidebar-left {
	.content-body-inner {
		&:before {
			content: "";
			position: absolute;
			width: 1px;
			background: rgba(0,0,0,.08);
			top: 0;
			bottom: 0;
		}
	}
}*/
.sidebar-right {
	.main-content {
		float: left;
	}
	.main-sidebar {
		float: right;
	}
}
.sidebar-left {
	.main-content {
		float: right;
	}
	.main-sidebar {
		float: left;
	}
}

.post-content-extras {
	.edit-link {
		text-align: right;
		border-top: 1px solid rgba(0,0,0,.1);
		padding-top: 10px;
		margin-top: 30px;
		a {
			border-bottom: 2px solid;
			padding-bottom: 3px;
			display: inline-block;
		}
		.vc_inline-link {
			margin-left: 20px;
		}
	}
}
.content {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
[data-grid],[data-grid-normal] {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	.post,.project,.product {
		float: left;
	}
	&[data-columns="2"] {
		.post,.project,.product {
			width: 50%;
			&:nth-of-type(n) {
				clear: none;
			}
			&:nth-of-type(2n+1) {
				clear: both;
			}
		}
	}
	&[data-columns="3"] {
		.post,.project,.product {
			width: 33.3333333%;
			&:nth-of-type(n) {
				clear: none;
			}
			&:nth-of-type(3n+1) {
				clear: both;
			}
		}
	}
	&[data-columns="4"] {
		.post,.project,.product {
			width: 25%;
			&:nth-of-type(n) {
				clear: none;
			}
			&:nth-of-type(4n+1) {
				clear: both;
			}
		}
	}
	&[data-columns="5"] {
		.post,.project,.product {
			width: 20%;
			&:nth-of-type(n) {
				clear: none;
			}
			&:nth-of-type(5n+1) {
				clear: both;
			}
		}
	}
}
.home {
	.content-body-inner {
		padding-top: 0;
	}
}
.gap-min {
	.row {
		margin-left: -5px;
		margin-right: -5px;
		margin-bottom: 10px;
	}
	.columns {
		padding: 0 5px;
	}
}
.row {
	&:after {
		&:extend(.clear);
	}	
	margin-left: -(@grid-gutter/2);
	margin-right: -(@grid-gutter/2);
}
.columns {
	float: left;
	padding: 0 @grid-gutter/2;
}
.columns-1 {
  width: 8.333333333333334%;
}
.columns-2 {
  width: 16.666666666666668%;
}
.columns-3 {
  width: 25%;
}
.columns-4 {
  width: 33.333333333333336%;
}
.columns-5 {
  width: 41.666666666666664%;
}
.columns-6 {
  width: 50%;
}
.columns-7 {
  width: 58.333333333333336%;
}
.columns-8 {
  width: 66.66666666666667%;
}
.columns-9 {
  width: 75%;
}
.columns-10 {
  width: 83.33333333333333%;
}
.columns-11 {
  width: 91.66666666666667%;
}
.columns-12 {
  width: 100%;
}

.pull-1 {
  left: -8.333333333333334%;
}
.pull-2 {
  left: -16.666666666666668%;
}
.pull-3 {
  left: -25%;
}
.pull-4 {
  left: -33.333333333333336%;
}
.pull-5 {
  left: -41.666666666666664%;
}
.pull-6 {
  left: -50%;
}
.pull-7 {
  left: -58.333333333333336%;
}
.pull-8 {
  left: -66.66666666666667%;
}
.pull-9 {
  left: -75%;
}
.pull-10 {
  left: -83.33333333333333%;
}
.pull-11 {
  left: -91.66666666666667%;
}
.pull-12 {
  left: -100%;
}

.push-1 {
  left: 8.333333333333334%;
}
.push-2 {
  left: 16.666666666666668%;
}
.push-3 {
  left: 25%;
}
.push-4 {
  left: 33.333333333333336%;
}
.push-5 {
  left: 41.666666666666664%;
}
.push-6 {
  left: 50%;
}
.push-7 {
  left: 58.333333333333336%;
}
.push-8 {
  left: 66.66666666666667%;
}
.push-9 {
  left: 75%;
}
.push-10 {
  left: 83.33333333333333%;
}
.push-11 {
  left: 91.66666666666667%;
}
.push-12 {
  left: 100%;
}

/* ============================================================ 
    3. HEADER
=============================================================*/
.site-topbar {
	z-index: 999;
	position: relative;
	.site-topbar-inner {
		align-items: center;
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	}
	.off-canvas-toggle {
		float: none;
		margin: 0 30px 0 0;
		line-height: inherit;
		width: 24px;
		span {
			&:before,&:after {
				left: 0;
				right: auto;
				margin-right: 0;
				margin-left: 0;
			}
		}
	}
	.topbar-menu {
		.menu-top {
			margin: 0;
			padding: 0;
			list-style: none;
			&:after {
				clear: both;
				display: table;
				content: "";
			}
			li {
				position: relative;
				.sub-menu {
					position: absolute;
					background: @white;
					margin: 0;
					padding: 20px;
					min-width: 180px;
					top: 100%;
					left: -20px;
					list-style: none;
					visibility: hidden;
					.opacity(0);
					&:extend(.transition);
					li {
						a {
							white-space: nowrap;
							margin-bottom: 10px;
							color: inherit;
							display: inline-block;
							position: relative;
							&:after {
								content: "";
								width: 100%;
								height: 0;
								border-top: 1px solid;
								bottom: 3px;
								position: absolute;
								right: 0;
								.opacity(0.5);
								.transition(width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s);
							}
							&:hover {
								&:after {
									width: 0;
									right: 0;
									left: auto;
								}
							}
						}
						.sub-menu {
							left: ~"calc(100% + 21px)";
							top: -20px;
						}
					}
				}
				&:hover {
					> .sub-menu {
						visibility: visible;
						.opacity(1);
					}
				}
				&.wpml-ls-item {
					a {
						display: flex;
						align-items: center;
						.wpml-ls-flag {
							margin-right: 5px;
						}
					}
				}
			}
			> li {
				float: left;
				margin: 0 15px;
				&:last-child {
					margin-right: 0;
				}
				&:first-child {
					margin-left: 0;
				}
				> a {
					padding: 15px 0;
					display: block;
					i {
						display: block;
						text-align: center;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
	.social-icons {
		margin-left: 30px;
		a {
			i {
				font-size: 18px;
				color: inherit;
				background: transparent !important;
			}
		}
	}
	.topbar-text {
		flex-grow: 1;
		i {
			margin-right: 10px;
			&.icons {
				font-size: 18px;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				display: inline-block;
				margin-right: 40px;
				i {
					margin-right: 10px;
					display: inline-block;
					vertical-align: middle;
				}
				.content {
					display: inline-block;
					vertical-align: middle;
					line-height: 100%;
					span {
						display: block;
						&.action {
							font-size: 1.125rem;
						}
						&.text {
							.opacity(0.7);
							margin-bottom: 6px;
						}
					}
				}
			}
		}
	}
}

/* ============================================================ 
    4. CONTENT
=============================================================*/
.site-content {
	clear: both;
	/* ============================================================ 
	    4.1. Content Header
	=============================================================*/
	.content-header {
		canvas {
			position: absolute;
	  		top: 0;
	  		left: 0;
	  		right: 0;
	  		bottom: 0;
		}
		&.vc_row {
			margin-left: 0;
			margin-right: 0;
		}
		&.content-header-full {
			.wrap {
				width: 100%;
			}	
		}
		&.content-header-featured {
			position: relative;
			background-position: center;
			background-size: cover;
			padding: 30px 0;
			//animation: animatedBackground 40s linear infinite;
			&:before {
				content: "";
				height: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				background: @dark;
				.opacity(0.7);
			}
			.breadcrumbs-inner {
				color: @white;
				a {
					color: rgba(255,255,255,0.7);
				}
			}
			.page-title {
				.page-title-inner {
					color: @white;
				}
				.subtitle {
					color: rgba(255,255,255,0.7);
				}
			}
			.content-header-inner {
				min-height: 50vh;
				.page-title-wrap {
					position: absolute;
					z-index: 3;
					left: 50%;
					top: 50%;
					-webkit-transform: translateX(-50%) translateY(-50%);
				            transform: translateX(-50%) translateY(-50%);
				}
			}
			&.content-header-left {
				.content-header-inner {
					.page-title-wrap {
						left: 0;
						-webkit-transform: translateX(0) translateY(-50%);
					            transform: translateX(0) translateY(-50%);
					}
				}
			}
			&.content-header-right {
				.content-header-inner {
					.page-title-wrap {
						float: none;
						left: 50%;
						-webkit-transform: translateX(0) translateY(-50%);
					            transform: translateX(0) translateY(-50%);
					}
				}
			}
		}
		&.content-header-center {
			text-align: center;
			.project-client {
				margin-left: auto;
				margin-right: auto;
				.rounded(200px);
			}
			.page-title-wrap {
				margin: 0 auto;
			}
		}
		&.content-header-left {
			
		}
		&.content-header-right {
			.project-client {
				float: right;
			}
			.page-title-wrap {
				float: right;
				text-align: right;
			}
		}
		&.content-header-inline {
			.project-client {
				flex-shrink: 0;
			}
			.page-title-wrap {
				display: flex;
				align-items: center;
				flex-direction: row-reverse;
				justify-content: space-between;
				width: 100%;
			}
			.project-client {
				margin: 0 0 0 30px;
			}
			.breadcrumbs {
				//padding-left: 5%;
			}
		}
		&.content-header-shadow {
			
		}
		.page-title-wrap {
			width: 50%;
		}
		.project-client {
			position: relative;
			margin-bottom: 40px;
			width: 120px;
			height: 120px;
			line-height: 90px;
			padding: 15px;
			text-align: center;
			overflow: hidden;
			.rounded(5px);
			.mask {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				text-indent: -9999px;
			}
			img {
				position: relative;
				z-index: 2;
				vertical-align: middle;
			}
		}
	}
	.page-title {
		clear: both;
		.page-title-inner {
			margin: 0;
		}
		.subtitle {
			font-size: 1rem;
			margin-top: 10px;
			text-transform: none;
			letter-spacing: 0;
		}
		.button {
			margin-top: 15px;
		}
	}
	.breadcrumbs-inner {
		margin-top: 30px;
		position: relative;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		a {
			position: relative;
			display: inline-block;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				width: 100%;
				bottom: 0;
				border-top: 1px dotted;
				&:extend(.transition);
			}
			&:hover {
				&:after {
					width: 0;
					right: 0;
					left: auto;
				}
			}
			&.post {
				margin-bottom: 0;
				font-size: inherit;
				padding: 0;
				border: none;
			}
		}
		> span {
			margin: 0 10px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.down-arrow {
		a {
			position: absolute;
			z-index: 3;
			left: 50%;
			bottom: -30px;
			height: 60px;
			background: @white;
			width: 60px;
			line-height: 60px;
			.rounded(100%);
			color: inherit;
			-webkit-transform: translateX(-50%);
				    transform: translateX(-50%);
			i {
				display: block;
				&:extend(.transition);
			}		    
			&:hover {
				i {
					transform: translateY(5px);
				}
			}	    
		}
	}
}

/* ============================================================ 
    5. WIDGET
=============================================================*/
.widget {
	.widget-title {
		position: relative;
	}
	select {
		width: 100%;
	}
	&:last-child {
		margin-bottom: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			.children,
			.sub-menu {
				margin: 15px 0 15px 15px;
			}
		}
	}
	&.widget_archive,
	&.widget_categories,
	&.widget_pages,
	&.widget_meta,
	&.widget_nav_menu,
	&.widget_product_categories {
		select {
			width: 100%;
			font-weight: normal;
		}
		label {
			margin-bottom: 10px;
			display: inline-block;
			font-weight: normal;
		}
		ul {
			li {
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					position: relative;
					display: inline-block;
					&:after {
						content: "";
						width: 100%;
						height: 0;
						border-top: 1px solid;
						bottom: 2px;
						position: absolute;
						right: 0;
						.opacity(0.3);
						.transition(width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s);
					}
					&:hover {
						&:after {
							width: 0;
							right: 0;
							left: auto;
						}
					}
				}
			}
		}
	}
	&.widget_nav_menu {
		&.menu-style1 {
			ul {
				&:after {
					clear: both;
					display: table;
					content: "";
				}
				li {
					float: left;
					width: 50%;
					padding: 0 15px 0 0;
					&:nth-child(2n) {
						padding: 0 0 0 15px;
					}
					&:nth-of-type(2n+1) {
						clear: left;
					}
				}
			}
		}
		&.menu-style2 {
			width: 100%;
			&.columns-1 {
				.menu {
					> li {
						width: 100%;
					}
				}
			}
			&.columns-2 {
				.menu {
					> li {
						width: 50%;
					}
				}
			}
			&.columns-3 {
				.menu {
					> li {
						width: 33.333333%;
					}
				}
			}
			&.columns-4 {
				.menu {
					> li {
						width: 25%;
					}
				}
			}
			&.columns-5 {
				.menu {
					> li {
						width: 20%;
					}
				}
			}
			.menu {
				margin: 0 -15px;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				width: ~"calc(100% + 15px)";
				> li {
					padding: 0 15px;
					margin: 0 0 30px 0;
					vertical-align: top;
					> a {
						&:after {
							display: none;
						}
					}
					.sub-menu {
						margin: 10px 0 0 0;
						font-size: 14px;
						line-height: 150%;
						.opacity(0.7);
						li {
							width: 100%;
							float: none;
							padding: 0;
						}
					}
				}
			}
		}
	}
	&.widget_archive,&.widget_categories {
		.screen-reader-text {
			display: none;
		}
	}
	&.widget_calendar {
		#calendar_wrap {
			border: 1px solid rgba(0,0,0,0.1);
			padding: 15px;
			.rounded(5px);
			table {
				border: none;
				.box-shadow(none);
			}
		}
		#wp-calendar {
			position: relative;
			#prev,#next {
				a {
					position: absolute;
					left: 0;
					top: 0;
					text-indent: -9999px;
					&:after {
						text-indent: 0;
						position: absolute;
						content: "\f053";
						font-family: "fontAwesome";
						font-size: 14px;
						font-weight: normal;
						left: 0;
						top: 0;
						.opacity(0.5);
					}
				}
			}
			#next {
				a {
					left: auto;
					right: 0;
					&:after {
						content: "\f054";
						right: 0;
						left: auto;
					}
				}
			}
		}
		caption {
			margin-bottom: 20px;
		}
		table {
			table-layout: fixed;
			thead {
				text-align: center;
				border-bottom: 1px solid rgba(0,0,0,.1);
				th {
					padding: 0;
					font-size: 13px;
					text-align: center;
					border: none;
					background: none;
				}
			}
			tbody {
				tr {
					background: none;
					td,th {
						text-align: center;
						padding: 4px 0;
						border: none;
						&#today {
							position: relative;
							&:after {
								content: "";
								position: absolute;
								left: 0;
								right: 0;
								bottom: 3px;
								border-top: 3px solid;
							}
						}
					}
				}
			}
			tfoot {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				tr {
					td {
						border: none;
						padding: 0;
						&.pad {
							display: none;
						}
					}
				}
			}
		}
	}
	&.widget_media_image {
		figure {
			margin: 0;
		}
		.wp-caption-text {
			margin: 20px 0 0 0;
			line-height: 1.6;
		}
	}
	&.widget_search {
		.search-form {
			font-weight: normal;
			position: relative;
			label {
				.screen-reader-text{
					display: none;
				}
				.search-field {
					width: 100%;
				}
			}
			.search-submit {
				background-image: url(../../assets/img/search.svg);
				background-color: transparent;
				background-size: 20px 20px;
				background-position: center right;
				background-repeat: no-repeat;
				width: 20px;
				height: 26px;
				padding: 0;
				text-indent: -9999px;
				position: absolute;
				right: 18px;
				top: 50%;
				margin-top: -15px;
				border: none;
				.box-shadow(none);
				.rounded;
				.opacity(0.3);
				&:hover {
					.opacity(0.5);
				}
			}
		}
	}
	&.widget_tag_cloud {
		.tagcloud {
			&:after {
				clear: both;
				display: table;
				content: "";
			}
			a {
				.tag-link-count {
					.opacity(0.5);
				}
			}
		}
	}
	&.widget_recent_comments,
	&.widget_recent_entries,
	&.widget_rss {
		ul {
			li {
				border-bottom: 1px solid rgba(0,0,0,.08);
				padding-bottom: 15px;
				margin-bottom: 15px;
				&:last-child {
					margin: 0;
					padding-bottom: 0;
					border: none;
				}
			}
		}
	}
	&.widget_recent_entries {
		ul {
			li {
				.post-date {
					display: block;
					font-size: 14px;
					margin-top: 5px;
				}
			}
		}
	}
	&.widget_rss {
		ul {
			li {
				.rss-date {
					display: block;
					font-size: 14px;
					margin: 0 0 10px 0;
				}
				.rssSummary {
					display: block;
				}
			}
		}
		.widget-title {
			img {
				vertical-align: inherit;
			}
		}
	}

	select[name="monster-widget-just-testing"] {
		option {
			width: 230px;
		}
		font-weight: normal;
	}
	.mc4wp-form-fields {
		input[type="email"],
		input[type="text"],
		input[type="submit"] {
			
		}
		input[type="submit"] {
			margin: 0;
		}
	}

	&.fixed-menu {
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 5;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: -3000px;
			right: -3000px;
			bottom: 0;
			height: 0;
			border-top: 1px solid;
			.opacity(0.15);
		}
		.widget-title {
			margin: 0 30px 0 0;
			font-size: 15px;
		}
		ul.menu {
			li {
				display: inline-block;
				margin: 0 15px;
				&:last-child {
					margin-right: 0;
				}
				&:first-child {
					margin-left: 0;
				}
				&:hover,&.current-menu-item,&.current-page-item {
					a {
						&:before {
							width: 100%;
						}
					}
				}
				a {
					padding: 20px 0;
					font-size: 15px;
					color: inherit;
					&:after {
						display: none;
					}
					&:before {
						left: 0;
						width: 0;
						height: 3px;
						bottom: 0;
						background: @dark;
						position: absolute;
						content: "";
						&:extend(.transition);
					}
					&.mPS2id-highlight {
						&:before {
							width: 100%;
						}
					}
				}
			}
		}
		&:not([class*="q2w3-widget-clone-sidebar"]) {}
		&[class*="q2w3-widget-clone-sidebar"] + .fixed-menu {
			border: none;
			&:extend(.transition);
			&:before {
				display: none;
			}
			&:after {
				background: #eee;
				position: absolute;
				content: "";
				left: -3000px;
				right: -3000px;
				top: 0;
				bottom: 0;
				z-index: -1;
				&:extend(.transition);
			}
			.widget-title {
				color: @white;
			}
			ul.menu {
				li {
					&:hover,&.current-menu-item,&.current-page-item {
						a {
							color: @white;
						}
					}
					a {
						color: rgba(255,255,255,0.5);
					}
				}
			}
		}
	}
}


/* ============================================================ 
    6. FOOTER
=============================================================*/
.site-footer {
	position: relative;
	::-webkit-input-placeholder {
	    color: inherit;
	}
	.content-bottom-widgets {
		&.content-bottom-full {
			.wrap {
				width: 100%;
			}
		}
		.content-bottom-aside-wrap {
			margin: 0 -15px;
			&:after {
				clear: both;
				content: "";
				display: table;
			}
		}
		.widget {
			&:last-child {
				margin-bottom: 0;
			}
			&.widget_mc4wp_form_widget {
				
			}
			.social-icons {
				padding-top: 10px;
				a {
					margin-right: 5px;
				}
			}
		}
		aside {
			float: left;
			padding: 0 15px;
			&[data-width="1"] {
				width: 8.33333333%;
			}
			&[data-width="2"] {
				width: 16.6666666%;
			}
			&[data-width="3"] {
				width: 25%;
			}
			&[data-width="4"] {
				width: 33.3333333%;
			}
			&[data-width="5"] {
				width: 41.6666666%;
			}
			&[data-width="6"] {
				width: 50%;
			}
			&[data-width="7"] {
				width: 58.3333333%;
			}
			&[data-width="8"] {
				width: 66.6666666%;
			}
			&[data-width="9"] {
				width: 75%;
			}
			&[data-width="10"] {
				width: 83.3333333%;
			}
			&[data-width="11"] {
				width: 91.6666666%;
			}
			&[data-width="12"] {
				width: 100%;
			}
		}
	}
	.footer-widgets {
		position: relative;
		&.footer-widgets-full {
			.wrap {
				width: 100%;
			}
		}
		.footer-aside-wrap {
			margin: 0 -15px;
			&:after {
				clear: both;
				content: "";
				display: table;
			}
		}
		.widget {
			&:last-child {
				margin-bottom: 0;
			}
			&.widget_archive,
			&.widget_categories,
			&.widget_pages,
			&.widget_meta,
			&.widget_nav_menu,
			&.widget_product_categories {
				ul {
					li {
						a {
							&:after {
								width: 0;
								bottom: 3px;
							}
							&:hover {
								&:after {
									width: 100%;
									right: auto;
									left: 0;
								}
							}
						}
					}
				}
			}
			.social-icons {
				a {
					margin: 0 6px;
					height: auto;
					line-height: 1;
					width: auto;
					.opacity(0.3);
					&:last-child {
						margin-right: 0;
					}
					&:first-child {
						margin-left: 0;
					}
					&:hover {
						.opacity(1);
					}
					i {
						color: inherit;
						height: auto;
						line-height: 1;
						width: auto;
						font-size: 28px;
						background: transparent;
					}
				}
			}
			.button {
				&:hover {
					color: @white;
				}
			}
		}
		aside {
			float: left;
			padding: 0 15px;
			&[data-width="1"] {
				width: 8.33333333%;
			}
			&[data-width="2"] {
				width: 16.6666666%;
			}
			&[data-width="3"] {
				width: 25%;
			}
			&[data-width="4"] {
				width: 33.3333333%;
			}
			&[data-width="5"] {
				width: 41.6666666%;
			}
			&[data-width="6"] {
				width: 50%;
			}
			&[data-width="7"] {
				width: 58.3333333%;
			}
			&[data-width="8"] {
				width: 66.6666666%;
			}
			&[data-width="9"] {
				width: 75%;
			}
			&[data-width="10"] {
				width: 83.3333333%;
			}
			&[data-width="11"] {
				width: 91.6666666%;
			}
			&[data-width="12"] {
				width: 100%;
			}
		}
	}
	.footer-copyright {
		.footer-copyright-inner {
			align-items: center;
		    display: flex;
		    flex-direction: row;
		    justify-content: space-between;
		    &:after {
		    	display: none;
		    }
		}
		&.footer-copyright-full {
			.wrap {
				width: 100%;
				max-width: 100%;
			}
		}
		&.footer-copyright-center {
			text-align: center;
			.footer-copyright-inner {
				flex-direction: column-reverse;
			}
			.social-icons {
				margin-bottom: 20px;
				a {
					margin: 0 2px;
				}
			}
		}
		&.footer-copyright-right {
			.footer-copyright-inner {
				flex-direction: row-reverse;
			}
			.social-icons {
				a {
					margin-right: 5px;
				}
			}
			.copyright-content {
				justify-content: flex-end;
				text-align: right;
			}
		}
		&.footer-copyright-left {
			.social-icons {
				a {
					margin-left: 5px;
				}
			}
		}
		.copyright-content {
			
		}
		.social-icons {
			a {
				overflow: hidden;
				vertical-align: middle;
			}
		}
	}
	.cta {
		padding: 0 20%;
		p {
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/* ============================================================ 
	7. OTHER PAGES
=============================================================*/
/* ============================================================ 
	7.1. Comments
=============================================================*/
.page-template-default {
	.comments-area {
		margin-top: 60px;
	}
}
.comments-area {
	position: relative;
	.comments-title {
		margin: 40px 0;
		text-align: center;
	}
	.comment-list {
		margin: 0 0 45px 0;
		padding: 0;
		list-style: none;
		font-size: 15px;
		.comment-body {
			position: relative;
			.comment-meta {
				margin-bottom: 20px;
			}
			.comment-author {
				display: inline;
				img {
					.rounded(100px);
				}
				.fn {
					a {
						&:hover {
							color: inherit;
						}
					}
				}
			}
			.comment-metadata {
				line-height: 1.35;
				padding-left: 5%;
				font-size: 14px;
				time {
					.opacity(0.7);
				}
				a {
					color: inherit;
				}
			}
			.avatar {
				float: left;
				margin-right: 15px;
				width: 45px;
			}
			.comment-content {
				padding: 4% 5%;
				padding-bottom: ~"calc(4% + 30px)";
				background: @white;
				border: 1px solid rgba(0,0,0,.1);
				position: relative;
				.box-shadow(0 2px 4px rgba(0,0,0,.06));
				.rounded;
				&:before {
					content: "";
					position: absolute;
					left: 5%;
					top: -8px;
					height: 14px;
					width: 14px;
					background: @white;
					border-top: 1px solid rgba(0, 0, 0, 0.1);
					border-right: 1px solid rgba(0, 0, 0, 0.1);
					-webkit-transform: rotate(-45deg);
							transform: rotate(-45deg);
				}
				p {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			.reply {
				position: absolute;
				left: 5%;
				bottom: 0;
				margin-bottom: 30px;
				font-size: 10px;
				text-transform: uppercase;
				letter-spacing: 2px;
				line-height: 1;
				&:before {
					font-family: "Ionicons";
					font-size: 16px;
					content: "\f3f9";
					display: inline-block;
					margin-right: 6px;
					vertical-align: middle;
				}
			}
		}
		.children {
			margin: 0;
			padding: 30px 0 0 5%;
			list-style: none;
			position: relative;
			&:after {
				content: "";
				border-left: 1px dashed rgba(0,0,0,.09);
				width: 0;
				position: absolute;
				left: 2.5%;
				top: 30px;
				bottom: 0;
			}
		}
		li {
			margin-bottom: 50px;
			.comment-respond {
				margin-top: 30px;
			}
			&.depth-4 {
				.children {
					.comment-content {
						padding-bottom: 4%;
					}
				}
			}
			&.pingback {
				margin-bottom: 5px;
				padding: 25px 5%;
				background: @white;
				border: 1px solid rgba(0,0,0,.1);
				.box-shadow(0 2px 4px rgba(0,0,0,.06));
				.rounded;
				&:nth-last-child(2) {
					margin-bottom: 50px;
				}
			}
		}
	}
	.comment-respond {
		.comment-reply-title {
			text-align: center;
			margin: 40px 0 0 0;
			#cancel-comment-reply-link {
				color: @grey;
				border-bottom: 1px solid;
			}
		}
		.comment-form {
			font-size: 15px;
			.comment-notes {
				text-align: center;
			}
			.logged-in-as {
				text-align: center;
				a {
					color: inherit;
					&:hover {
						.opacity(0.5);
					}
				}
			}
			.comment-form-author,
			.comment-form-email,
			.comment-form-url {
				float: left;
				width: 25%;
				padding-right: 30px;
				margin-bottom: 0;
				label {
					display: block;
					height: 30px;
				}
			}
			.form-submit {
				margin-bottom: 0;
				input {
					width: 25%;
					padding-left: 0;
					padding-right: 0;
					text-align: center;
				}
			}
			.comment-form-url + .form-submit {
				padding-top: 30px;
			}
			textarea,input {
				width: 100%;
			}
			textarea {
				max-height: 150px;
			}
		}
		.form-submit {
			margin-bottom: 0;
		}
	}
	#respond {
		position: relative;
		z-index: 3;
		padding: 20px 20%;
		border-top: 1px solid rgba(0,0,0,.1);
		.comment-form-comment + .form-submit {
			input {
				width: 100%;
			}
		}
		&:after {
			content: "\f3f9";
			font-family: "Ionicons";
			font-size: 48px;
			position: absolute;
			width: 80px;
			height: 80px;
			line-height:80px;
			text-align: center;
			background: @white;
			top: -40px;
			right: 50%;
			margin-right: -40px;
		}
	}
}


/* ============================================================ 
	7.2. Page Navigation
=============================================================*/
.navigation {
	clear: both;
	.pagination {}
	&.pager-numeric {
		font-size: 15px;
		text-align: center;
		.page-numbers {
			position: relative;
			display: inline-block;
			width: 45px;
			height: 45px;
			line-height: 46px;
			color: inherit;
			margin: 0 1px;
			background: @light;
			text-align: center;
			.rounded(3px);
			&.current,&:hover {
				color: @white;
			}
			&.dots {
				&:extend(.transition);
			}
			&.prev,&.next {
				text-indent:-9999px;
				&:before {
					content:"\f107";
					font-family:"Ionicons";
					text-indent:0;
					font-size: 1rem;
					position: absolute;
					left: 0;
					right:0;
					top:0;
					bottom: 0;
					width: 45px;
					height: 45px;
				}
			}
			&.next {
				&:before {
					content:"\f10a";
				}
			}
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&.post-navigation {
		padding-top: 60px;
		.nav-links {
    		margin: 0;
    		padding: 0;
    		list-style: none;
    		position: relative;
    		&:after {
    			content:"";
    			display: table;
    			clear: both;
    		}
    		&:before {
    			position: absolute;
    			height: 1px;
    			content:"";
    			background: rgba(0,0,0,0.08);
    			left: -2000px;
    			right: -2000px;
    			top: 0;
    		}
    		li {
    			float: left;
    			margin-top: -1px;
    			h6 {
    				margin: 0;
    				a {
    					padding-top: 40px;
    					padding-bottom: 40px;
    					position: relative;
						&:before {
							content: "\f10a";
							font-family: "Ionicons";
							font-size: 16px;
							font-weight: normal;
							text-indent: 0;
							position: absolute;
							top: 50%;
							right: 0;
							width: 50px;
							height: 50px;
							line-height: 49px;
							text-align: center;
							border: 1px solid rgba(0,0,0,.1);
							.box-shadow(0 2px 4px rgba(0,0,0,.06));
							.rounded(50px);
							&:extend(.transition);
							-webkit-transform: translateY(-50%);
				                	transform: translateY(-50%);
						}
						&:hover {
							&:before {
								background: @dark;
								color:@white;
							}
						}
						.meta-nav {
							display: block;
							font-size: 12px;
							text-transform: uppercase;
							font-weight: normal;
							color: inherit;
							letter-spacing: 1px;
							.opacity(0.5);
						}
    				}
    			}
    			a {
    				display: block;
    				overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    .post-title {
				    	font-size: 1.125rem;
				    }
    			}
    			&.go-back {
    				width: 60px;
    				height: 30px;
    				text-align: center;
    				position: absolute;
    				left: 50%;
    				top: 50%;
    				margin-top: -15px;
    				margin-left: -30px;
    				i {
    					font-size: 2rem;
    				}
    			}
    			&.prev-post {
    				width: ~"calc(50% - 80px)";
    				a {
    					padding-left: 70px;
    					&:before {
    						left: 0;
    						right: auto;
    						content: "\f107";
    					}
    				}
    			}
    			&.next-post {
    				float: right;
    				width: ~"calc(50% - 80px)";
    				a {
    					padding-right: 70px;
    					text-align: right;
    				}
    			}
    		}
    	}
	}
	&.comment-navigation {
		text-align: center;
		margin-bottom: 60px;
		.screen-reader-text {
			display: none;
		}
		> div {
			display: inline-block;
			a {
				display: block;
				border: 1px solid rgba(0,0,0,0.1);
				background: @white;
				padding: 7px 20px 5px 20px;
				color: inherit;
				font-size: 15px;
				margin: 0 5px 5px 5px;
				.box-shadow(0 2px 4px rgba(0,0,0,0.06));
				.rounded(50px);
				&:hover {
					border: 1px solid rgba(0,0,0,0.2);
					.box-shadow(0 2px 4px rgba(0,0,0,0.1));
				}
			}
			&.nav-previous {
				a {
					margin-left: 0;
				}
			}
			&.nav-next {
				a {
					margin-right: 0;
				}
			}
		}
	}
}
.page-links {
	padding-top: 30px;
	clear: both;
	font-size: 14px;
	overflow: hidden;
	line-height: 33px;
	.page-links-title {
		float: left;
		margin-right: 10px;
	}
	a {
		color: inherit;
		float: left;
	}
	a span, span:not(.page-links-title) {
		float: left;
		position: relative;
		width: 32px;
		height: 32px;
		line-height: 33px;
		text-align: center;
		display: inline-block;
		background: @light;
		margin-right: 5px;
		.rounded(3px);
		&:extend(.transition);
		&:hover {
			color: @white;
		}
	}
	> span:not(.page-links-title) {
		background: @dark;
		color: @white;
	}
}

/* ============================================================ 
	7.3. Page Search
=============================================================*/
.search-results,.search-no-results {
	.main-content {
		.content {
			&:after {
				content: "";
				display: table;
				clear: both;
			}
			.search-form {
				font-weight: normal;
				position: relative;
				margin: 60px 20% 0 20%;
				label {
					.screen-reader-text{
						display: none;
					}
					.search-field {
						width: 100%;
					}
				}
				.search-submit {
					background-image: url(../../assets/img/search.svg);
					background-color: transparent;
					background-size: 20px 20px;
					background-position: center right;
					background-repeat: no-repeat;
					width: 20px;
					height: 20px;
					padding: 0;
					text-indent: -9999px;
					position: absolute;
					right: 18px;
					top: 50%;
					margin-top: -10px;
					border: none;
					.box-shadow(none);
					.rounded;
					.opacity(0.3);
					&:hover {
						.opacity(0.5);
					}
				}
			}
			.search-results {
				padding-top: 60px;
				.search-results-inner {
					display: flex;
					flex-wrap: wrap;
					margin: -15px;
				}
				.post {
					position: relative;
					width: 33.3333333%;
					margin-bottom: 30px;
					padding: 0 15px;
					a {
						padding: 30px 30px 70px 30px;
						background: @white;
						display: block;
						height: 100%;
						position: relative;
						color: inherit;
						overflow: hidden;
						.rounded(5px);
						.box-shadow(0 10px 60px rgba(0,0,0,0.12));
					}
					.post-index {
						font-size: 15px;
						position: absolute;
						color: @white;
						z-index: 2;
						bottom: 7px;
						right: 10px;
						line-height: 1;
						&:after {
							width: 100px;
							height: 100px;
							position: absolute;
							content: "";
							left: -10px;
							top: -25px;
							z-index: -1;
							-webkit-transform: rotate(45deg);
									transform: rotate(45deg);
						}
					}
					.post-title {
						font-size: 1.125rem;
						margin: 0;
					}
					.post-date {
						position: absolute;
						left: 30px;
						bottom: 30px;
						font-size: 15px;
						line-height: 1;
					}
				}
			}
			.search-no-results {
				text-align: center;
				h3 {
					margin: 60px 0 0;
					+ p {
						margin: 0 0 30px 0;
					}
				}
				.search-form {
					margin-top: 0;
				}
			}
		}
		.navigation {
			margin-top: 50px;
		}
	}
}

/* ============================================================ 
	7.4. Blank Page
=============================================================*/

/* ============================================================ 
	7.5. Error404
=============================================================*/
.error404 {
	.main-content {
		.content {
			display: flex;
			align-items: center;
		    flex-direction: row;
		    width: 80%;
		    margin: 0 auto;
			.heading-404 {
				margin: 0 50px 0 0;
				span {
					font-size: 10rem;
					line-height:1;
					margin: 0;
					color: @red;
					border-bottom: 7px solid;
				}
			}
			.content-404 {
				h3 {
					margin: 0 0 10px 0;
				}
				.search-form {
					font-weight: normal;
					position: relative;
					label {
						.screen-reader-text{
							display: none;
						}
						.search-field {
							width: 100%;
						}
					}
					.search-submit {
						background-image: url(../../assets/img/search.svg);
						background-color: transparent;
						background-size: 20px 20px;
						background-position: center right;
						background-repeat: no-repeat;
						width: 20px;
						height: 20px;
						padding: 0;
						text-indent: -9999px;
						position: absolute;
						right: 18px;
						top: 50%;
						margin-top: -10px;
						border: none;
						.box-shadow(none);
						.rounded;
						.opacity(0.3);
						&:hover {
							.opacity(0.5);
						}
					}
				}
			}
		}
	}
}

/* ============================================================ 
	7.6. Social
=============================================================*/
.social-icons {
	a {
		display:inline-block;
		width: 35px;
		height: 35px;
		line-height: 35px;
		i {
			width: 35px;
			height: 35px;
			line-height: 35px;
			text-align: center;
			color: @white;
			font-size: 14px;
			vertical-align: top;
			&:extend(.transition);
			&.fa-behance {
			    background: #007af7;
			}
			&.fa-bitcoin {
			    background: #fea33f;
			}
			&.fa-bitbucket {
			    background: #246590;
			}
			&.fa-codepen {
			    background: #000;
			}
			&.fa-delicious {
			    background: #3399ff;
			}
			&.fa-deviantart {
			    background: #429976;
			}
			&.fa-digg {
			    background: #196c9e;
			}
			&.fa-dribbble {
			    background: #f86499;
			}
			&.fa-facebook,
			&.fa-facebook-f,
			&.fa-facebook-official {
			    background: #3b5998;
			}
			&.fa-flickr {
			    background: #fa3892;
			}
			&.fa-foursquare {
			    background: #35cbe7;
			}
			&.fa-github-alt {
			    background: #008bbf;
			}
			&.fa-google-plus {
			    background: #e6694a;
			}
			&.fa-instagram {
			    background: #d84b60;
			}
			&.fa-jsfiddle {
			    background: #000;
			}
			&.fa-linkedin {
			    background: #1e363a;
			}
			&.fa-pinterest,
			&.fa-pinterest-p {
			    background: #cb2027;
			}
			&.fa-reddit {
			    background: #ff5234;
			}
			&.fa-skype {
			    background: #3cd2f2;
			}
			&.fa-slack {
			    background: #439fe0;
			}
			&.fa-soundcloud {
			    background: #ff722c;
			}
			&.fa-spotify {
			    background: #89bd4d;
			}
			&.fa-stack-exchange {
			    background: #fd8a07;
			}
			&.fa-steam {
			    background: #6d6862;
			}
			&.fa-stumbleupon {
			    background: #00b87a;
			}
			&.fa-tumblr {
			    background: #34586f;
			}
			&.fa-twitter {
			    background: #1da1f2;
			}
			&.fa-vimeo-square {
			    background: #00bdee;
			}
			&.fa-youtube-play {
			    background: #f36251;
			}
			&.fa-rss {
			    background: #f09040;
			}
		}
	}
}

.post-author-box {
	margin-bottom: 50px;
	.rounded;
	&:after {
		clear: both;
		display: table;
		content:"";
	}
	.avatar {
		.rounded(100px);
		float: left;
		margin-right: 30px;
	}
	.author-box-content {
		overflow: hidden;
		.author-box-title {
			margin: 0 0 10px 0;
		}
	}
}

.gallery {
	margin: 0 -5px 20px -5px;
	position: relative;
	&:after {
		clear: both;
		content: "";
		display: block;
	}
	.gallery-item {
		float: left;
		padding: 0 5px;
		overflow: hidden;
		position: relative;
		margin: 0 0 10px 0;
		.rounded;
		img {
			.rounded;
		}
		&:hover {
			.gallery-caption {
				margin-bottom: 0;
			}
		}
	}
	&.gallery-columns-1 {
		.gallery-item {
			max-width: 100%;
		}
		&.gallery-size-medium,&.gallery-size-thumbnail {
			.gallery-item:nth-of-type(1n+1) {
				clear: left;
			}
		}
	}
	&.gallery-columns-2 {
		.gallery-item {
			max-width: 50%;
		}
		&.gallery-size-thumbnail {
			.gallery-item:nth-of-type(2n+1) {
				clear: left;
			}
		}
	}
	&.gallery-columns-3 {
		.gallery-item {
			max-width: 33.3333333%;
		}
		&.gallery-size-thumbnail {
			.gallery-item:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}
	&.gallery-columns-4 {
		.gallery-item {
			max-width: 25%;
		}
		&.gallery-size-thumbnail {
			.gallery-item:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}
	&.gallery-columns-5 {
		.gallery-item {
			max-width: 20%;
		}
		&.gallery-size-thumbnail {
			.gallery-item:nth-of-type(5n+1) {
				clear: left;
			}
		}
	}
	&.gallery-columns-6 {
		.gallery-item {
			max-width: 16.6666667%;
		}
		&.gallery-size-thumbnail {
			.gallery-item:nth-of-type(6n+1) {
				clear: left;
			}
		}
	}
	&.gallery-columns-7 {
		.gallery-item {
			max-width: 14.2857143%;
		}
		.gallery-caption {
			display: none;
		}
	}
	&.gallery-columns-8 {
		.gallery-item {
			max-width: 12.5%;
		}
		.gallery-caption {
			display: none;
		}
	}
	&.gallery-columns-9 {
		.gallery-item {
			max-width: 11.1111111%;
		}
		.gallery-caption {
			display: none;
		}
	}
}
.gallery-caption {
	color: @white;
	text-shadow: 0 2px 3px rgba(0,0,0,.5);
	max-height: 100%;
	margin: 0;
	padding: 10px;
	position: absolute;
	bottom: 0;
	left: 5px;
	right: 5px;
	margin-bottom: -100%;
	line-height: 1.2;
	.rounded(0 0 5px 5px);
	.opacity(0.7);
	.gradient (@origin: -180deg, @step-1: transparent,  @step-2: @black 80%, @fallback: transparent);
	&:extend(.transition);
}

.rev_slider_wrapper {
	.slider-caption {
		.slider-title {
			color: @white;
			margin: 0;
		}
		.slider-des {
			font-size: 1.285rem;
			line-height: 150%;
			color: @white;
		}
		.slider-sub {
			color: @white;
		}
	}
	.tp-blockmask {
		.rounded;
	}
	.tparrows {
		background: @white;
		width: 70px;
		height: 60px;
		.rounded(0 30px 30px 0);
		&:before {
			color: inherit;
			line-height: 60px;
			font-size: 24px;
		}
		&.tp-rightarrow {
			.rounded(30px 0 0 30px);
		}
	}
}

.go-to-top {
	position: fixed;
	right: 20px;
	bottom: 25px;
	.opacity(0);
	&:extend(.transition);
	&.active {
		.opacity(1);
	}
	a {
		text-indent: -9999px;
		width: 40px;
		height: 40px;
		text-align: center;
		display: inline-block;
		&:before {
			content: "\f0d8";
			font-family:"fontAwesome";
			font-size: 28px;
			font-weight: normal;
			text-indent: 0;
			top: 0;
			left: 50%;
			position: absolute;
			-webkit-transform: translateX(-50%);
		            transform: translateX(-50%);
		    &:extend(.transition);
		}
		&:after {
			width: 7px;
			height: 12px;
			content: "";
			position: absolute;
			left: 50%;
			bottom: 10px;
			-webkit-transform: translateX(-50%);
		            transform: translateX(-50%);
			.rounded(1px);
			&:extend(.transition);
		}
		&:hover {
			&:before {
				-webkit-transform: translate(-50%, -6px);
		            	transform: translate(-50%, -6px);
			}
			&:after {
				height: 18px;
			}
		}
	}
}

.info-box {
	i {
		float: left;
		margin-right: 30px;
		&:extend(.transition);
	}
	.info-content {
		overflow: hidden;
		.info-title {
			margin: 0 0 20px 0;
		}
	}
}

.mc4wp-form-fields {
	position: relative;
	z-index: 3;
	padding-bottom: 16px;
	.sign-up {
		background-color: @white;
		background-image: url(../../assets/img/bg-mail.png);
		background-repeat: repeat-x;
		background-size: 58px 5px;
		font-size: 14px;
		padding: 15%;
		position: relative;
		.rounded;
		.box-shadow;
		&:after,&:before {
			content: "";
			position: absolute;
			background: lighten(@light, 0%);
			height: 6px;
			left: 8px;
			right: 8px;
			bottom: -6px;
			z-index: -1;
			.rounded(0 0 5px 5px);
		}
		&:before {
			left: 16px;
			right: 16px;
			bottom: -12px;
			background: darken(@light, 5%);
			.rounded(0 0 5px 5px);
		}
		input[type="email"] {
			width: 100%;
			background: none;
			border: none;
			border-bottom: 2px solid @grey;
			padding: 0;
			height: 40px;
			line-height: 40px;
			.rounded(0);
		}
		input[type="submit"] {
			position: absolute;
			background-color: transparent;
			bottom: ~"calc(15% + 4px)";
			border: none;
			right: 15%;
			padding: 0;
			height: 40px;
			line-height: 40px;
			&:hover {
				color: inherit;
			}
		}
		.title {
			margin: 0 0 10px 0;
		}
		&.style2 {
			background: none;
			padding: 0;
			text-align: inherit;
			font-size: inherit;
			.box-shadow(none);
			&:after,&:before {
				display: none;
			}
			input[type="submit"] {
				right: 0;
				bottom: 0;
			}
			input[type="email"] {
				border-color: darken(@grey,30%);
			}
			label {
				display: inline-block;
				margin-bottom: 15px;
			}
		}
	}
}

.contact {
	padding: 6% 10%;
	background: @white;
	border: 4px solid rgba(0,0,0,.05);
	.rounded(5px);
	.row {
		margin-bottom: 30px;
		margin-left: -30px;
		margin-right: -30px;
		&:last-child {
			margin-bottom: 0;
		}
		.columns {
			padding: 0 30px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.button {
			width: 100%;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}
		select,input,textarea {
			width: 100%;
			&.wpcf7-not-valid {
				border-color: red;
			}
		}
		textarea {
			height: 140px;
			vertical-align: top;
		}
		label {
			font-size: 15px;
			span {
				display: block;
				margin-top: 10px;
				&.wpcf7-not-valid-tip {
					font-size: 14px;
				}
			}
		}
	}
	&.style2 {
		padding: 10%;
		background: @light;
		border: none;
		.rounded(0);
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
			.opacity(0.03);
		}
	}
	&.style3 {
		padding: 0;
		background: none;
		border: none;
		.rounded(0);
		.field-input {
			position: relative;
			label {
				color: inherit;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 12px;
			}
		}
	}
}

.wrap_svl_center {
	.pins_animation {
		border: none;
		width: 30px !important;
		height: 30px !important;
		top: 50% !important;
		left: 50% !important;
		margin-top: -15px;
		margin-left: -15px;
		.opacity(0.2);
		.rounded(50px);
		.box-shadow(none);
	}
}
body #powerTip {
	background: @white;
	width: 320px;
	padding: 22px 30px;
	cursor: pointer;
	.rounded(0);
	.box-shadow;
	.box_view_html {
		color: #627792;
		font-size: 15px;
		line-height: 150%;
	}
	&:before {
		display: none;
	}
	&.s {

	}
	.close_ihp {
		svg {
			fill: rgba(0,0,0,.3) !important;
		}
	}
}
.drag_element {
	cursor: pointer;
	.pins_animation.ihotspot_pulse {	
		-webkit-animation:Ani-pin 3s infinite;
		   -moz-animation:Ani-pin 3s infinite;
		        animation:Ani-pin 3s infinite;
	}
	.point_style {
		img {
			max-width: 30px !important;
		}
	}
}
.faq {
	.search-field {
		border: none;
		background: @white;
		height: 65px;
		line-height: 65px;
		padding: 0 30px;
		.box-shadow(0 2px 10px rgba(0, 0, 0, 0.15));
		&:focus {
			background: @white;
			.box-shadow(0 10px 60px rgba(0, 0, 0, 0.25));
		}
	}
	.widget.widget_search .search-form .search-submit {
		right: 25px;
	}
}

//wp5
.site-content {
	.has-drop-cap {
		&:not(:focus) {
			&::first-letter {
				margin: 10px 25px 10px 0;
				font-size: 5em;
			}
		}
	}
	.has-medium-font-size {
		line-height: 150%;
	}
	.has-large-font-size,
	.has-larger-font-size {
		line-height: 140%;
	}
	blockquote {
		&.wp-block-quote:not(.is-style-large) {
			&:after {
				font-size: 32px;
			}
			cite {
				margin-top: -10px;
			}
		}
		&.is-style-large {
			margin: 30px 0 50px 0;
			padding: 80px 5% 0 5%;
			p {
				font-style: normal;
			}
			cite {
				font-size: 1rem;
				text-align: center;
				margin: 0;
				.opacity(0.5);
			}
		}
	}
	.wp-block-pullquote {
		&:not(.is-style-solid-color) {
			border-top: 3px solid;
			border-bottom: 3px solid;
			padding: 25px 0;
			&.alignleft,&.alignright {
				p {
					font-size: 18px;
					line-height: 1.5;
				}
			}
			cite {
				.opacity(0.7);
				margin:-10px 0 0;
			}
			blockquote {
				margin: 0;
				padding: 0;
				&:after {
					display: none;
				}
			}
		}
		&.is-style-solid-color {
			padding: 0;
			blockquote {
				padding: 0;
				margin: 0;
				max-width: 100%;
				p {
					font-size: 20px;
				}
				cite {
					margin-top: -10px;
					.opacity(0.7);
				}
				&:after {
					display: none;
				}
			}
		}
	}
	p {
		&.wp-block-subhead {
			font-size: 1rem;
		}
	}
	.wp-block-image {
		figcaption {
			line-height: 1.2;
			margin-top: 15px;
			.opacity(0.7);
		}
	}
	.wp-block-gallery {
		.blocks-gallery-image,.blocks-gallery-item {
			figcaption {
				padding-bottom: 10px;
			}
		}
	}
	.wp-block-latest-posts {
		list-style: none;
		margin: 0;
		padding: 0;
		&.has-dates {
			time {
				text-transform: uppercase;
				font-size: 10px;
				letter-spacing: 1px;
				margin-top: 5px;
			}
		}
		li {
			margin-bottom: 20px;
			a {
				line-height: 1.3;
				font-size: 1rem;
				font-weight: 500;
				display: block;
			}
		}
	}
	.wp-block-categories {
		&.wp-block-categories-list {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 1rem;
			li {
				margin-bottom: 5px;
				list-style: none;
				.children,
				.sub-menu {
					margin: 10px 0 10px 15px;
					padding: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}
				a {
					position: relative;
					display: inline-block;
					padding-left: 15px;
					&:before {
						content:"\f487";
						font-size: 12px;
						font-family: "Ionicons";
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						&:extend(.transition);
					}
					&:after {
						content: "";
						width: 0;
						height: 0;
						border-top: 1px solid;
						bottom: 0;
						position: absolute;
						right: 0;
						.opacity(0.3);
						.transition(width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s);
					}
					&:hover {
						&:before {
							content:"\f488";
						}
						&:after {
							width: ~"calc(100% - 15px)";
							right: auto;
							left: 15px;
						}
					}
				}
			}
		}
	}
}
.wp-block-gallery,.wp-block-text-columns {
	&[class*="columns-"] {
		width: 100%;
		figure, figcaption {
			margin: 0;
		}
	}
}
.wp-block-columns {
	figure, figcaption {
		margin: 0;
	}
}
blockquote.wp-block-quote {
	&.is-large,&.is-style-large {
		margin: 50px 0;
   		padding: 4% 6%;
	}
}
.wp-block-separator {
	border: none;
	height: 1px;
	background: rgba(0,0,0,.1);
}
.wp-block-embed {
	iframe {
		max-width: 100%;
	}
}

@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@-webkit-keyframes bounce {
	0%,
    20%,
	50%,
	80%,
	100% {
	    -webkit-transform: translateY(0);
	            transform: translateY(0);
	}
    40% {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
                transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
         -ms-transform: translateY(0);
     -webkit-transform: translateY(0);
             transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
         -ms-transform: translateY(-30px);
     -webkit-transform: translateY(-30px);
             transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
         -ms-transform: translateY(-15px);
     -webkit-transform: translateY(-15px);
             transform: translateY(-15px);
    }
}

@-webkit-keyframes tada {
	from {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
 	}
    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
                transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 
    50%, 
    70%, 
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
                transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 
    60%, 
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
                transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
  	from {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    10%, 
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
                transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 
    50%, 
    70%, 
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
                transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 
    60%, 
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
                transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  	to {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
  	}
}

@-webkit-keyframes animatedBackground {
	from {
	    background-position-y: 0;
	}
	to {
		background-position-y: 100%;
	}
}
@keyframes animatedBackground {
    from {
        background-position-y: 0;
    }
    50% {
    	background-position-y: 100%;
    }
    to {
		background-position-y: 0;
	}
}

@-webkit-keyframes Ani-pin {
	0% {
		-webkit-transform:scale(0);
				transform:scale(0);
		}
	30%{
		-webkit-transform:scale(1);
				transform:scale(1);
	} 
	50%{
		-webkit-transform:scale(1.2);
				transform:scale(1.2);
	} 
	70%{
		-webkit-transform:scale(1.5);
				transform:scale(1.5);
	}
	100%{
		-webkit-transform:scale(0);
				transform:scale(0);
	}
}
@keyframes Ani-pin {
	0% {
		-webkit-transform:scale(0);
				transform:scale(0);
		}
	30%{
		-webkit-transform:scale(1);
				transform:scale(1);
	} 
	50%{
		-webkit-transform:scale(1.2);
				transform:scale(1.2);
	} 
	70%{
		-webkit-transform:scale(1.5);
				transform:scale(1.5);
	}
	100%{
		-webkit-transform:scale(0);
				transform:scale(0);
	}
}

@-webkit-keyframes button-video {
	0%{
		-webkit-transform:scale(1);
				transform:scale(1);
	} 
	50%{
		-webkit-transform:scale(1.2);
				transform:scale(1.2);
	} 
	100%{
		-webkit-transform:scale(1);
				transform:scale(1);
	}
}
@keyframes button-video {
	0%{
		-webkit-transform:scale(1);
				transform:scale(1);
	} 
	50%{
		-webkit-transform:scale(1.3);
				transform:scale(1.3);
	} 
	100%{
		-webkit-transform:scale(1);
				transform:scale(1);
	}
}
@keyframes lds-circle {
	0%, 100% {
	    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
	}
	0% {
	    transform: rotateY(0deg);
	}
    50% {
    	transform: rotateY(1800deg);
    	animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
    	transform: rotateY(3600deg);
    }
}

.delay-1 {
	animation-delay:0s;
}
.delay-2 {
	animation-delay:0.2s;
	
}
.delay-3 {
	animation-delay:0.4s;
	
}
.delay-4 {
	animation-delay:0.6s;
	
}
.delay-5 {
	animation-delay:0.8s;
	
}
.delay-6 {
	animation-delay:1s;
	
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#site {
		.vc_row,.vc_section {
			.mask {
				&:after {
					content:"";
					display: block;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background-color: rgba(47, 209, 214,.5);
				}
				> div {
					z-index: 2;
				}
			}
		}
	}
}

@supports (-ms-ime-align: auto) {
    #site {
		.vc_row,.vc_section {
			.mask {
				&:after {
					content:"";
					display: block;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background-color: rgba(47, 209, 214,.5);
				}
				> div {
					z-index: 2;
				}
			}
		}
	}
}

/*@media 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
    
    body {
    	text-rendering:optimizeLegibility;
		 -webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
    }
}*/